/* color pallette: ffb6b6, fde2e2, aacfcf,679b9b */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fde2e2;
}
* {
  box-sizing: border-box;
}

h1,
h2,
p {
  color: #3f5e5e;
  padding: 0.5rem;
}

a {
  color: rgb(49, 48, 48);
  text-decoration: none;
}

.main {
  display: flex;
  align-items: center;
}

.img-container div {
  width: 50vw;
}

.para {
  line-height: 3rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  animation: animation 2s ease-out;
}
@keyframes animation {
  0% {
    opacity: 0;
    margin-left: 30%;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    margin-left: 0%;
  }
}

.toCenter {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bunny {
  width: 500px;
  animation: bunny 2s ease-out;
}
@keyframes bunny {
  0% {
    margin-right: 30%;
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    margin-right: 0%;
    opacity: 1;
  }
}

.footer {
  flex-grow: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}

@media all and (max-width: 760px) {
  .para {
    padding: 1rem;
    line-height: 2rem;
  }

  .main {
    flex-wrap: wrap;
  }
  .img-container div {
    height: 70%;
    width: 100vw;
  }
  .footer {
    font-size: 0.7rem;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .contact-bunny {
    width: 100%;
  }
}
