/* color pallette: ffb6b6, fde2e2, aacfcf,679b9b */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fde2e2;
  font-family: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
}

h1,
h2,
p {
  color: #3f5e5e;
  padding: 0.5rem;
  margin-block-start: 0;
}

a {
  color: rgb(49, 48, 48);
  text-decoration: none;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-container {
  margin: auto;
  width: 90%;
  max-width: 500px;
}

.para {
  line-height: 1.8rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  animation: animation 2s ease-out;
}
.contentBackground {
  background-color: #48dbfb;
}
.content {
  display: flex;
  flex-direction: column;
  height: 50%;
  max-width: 800px;
  line-height: 1.8rem;
  padding: 2rem 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;

  /* background: url("../images/rocket.png"); */
}
.content h2,
.content p {
  color: black;
}
.bullet {
  padding-left: 20px;
}
.rocket {
  display: none;
}
@keyframes animation {
  0% {
    opacity: 0;
    margin-left: 30%;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    margin-left: 0%;
  }
}

.toCenter {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bunny {
  width: 90%;
  max-width: 300px;
  animation: bunny 2s ease-out;
}
@keyframes bunny {
  0% {
    margin-right: 30%;
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    margin-right: 0%;
    opacity: 1;
  }
}

.footer {
  flex-grow: 0;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem 1rem;
}

@media (min-width: 900px) {
  .para {
    padding: 1rem;
    line-height: 3rem;
    width: 50%;
    margin-left: 20px;
    font-size: 1.5rem;
  }

  .main {
    flex-direction: row;
    flex-wrap: no-wrap;
    margin: auto;
    max-width: 1400px;
  }
  .img-container {
    display: inline-block;
    margin: 1.5rem;
    width: 50%;
    max-width: 700px;
  }
  .contentBackground {
    position: relative;
  }
  .content {
    padding: 4rem 6rem;
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .rocket {
    display: initial;
    position: absolute;
    right: 20%;
    top: 50%;
    width: 100px;
    height: auto;
    transform: rotate(-55deg);
    animation: move 100s linear infinite;
  }
  @keyframes move {
    0% {
      right: 15%;
      top: 50%;
    }
    40% {
      right: 15%;
      top: 10%;
      transform: rotate(-55deg);
    }
    50% {
      right: 15%;
      top: 10%;
      transform: rotate(120deg);
    }
    90% {
      right: 15%;
      top: 50%;
      transform: rotate(120deg);
    }
    100% {
      right: 15%;
      top: 50%;
      transform: rotate(290deg);
    }
  }
}
