html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  display: flex;
  align-items: center;
}

.img-container {
  width: 100%;
  height: 100%;
}
.img-container div {
  width: 50vw;
}

.para {
  line-height: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
}

@media all and (max-width: 760px) {
  .para {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 570px) {
  .para {
    font-size: 1.5rem;
  }

  .main {
    flex-wrap: wrap;
  }
  .img-container div {
    height: 100vh;
    width: 100vw;
  }
}
