html,
body {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
}

.img-container div {
  height: 100vh;
  width: 50vw;
}
.para-container {
  width: 100%;
}
article {
  padding: 1rem;
}

@media all and (max-width: 760px) {
  .main {
    flex-wrap: wrap;
  }
  article {
    padding: 1rem;
  }

  .img-container div {
    height: 100vh;
    width: 100vw;
  }
}
@media all and (max-width: 900px) {
  nav ul li {
    flex: 1 1 50%;
  }
}
@media all and (max-width: 570px) {
  nav ul li {
    flex: 1 1 100%;
  }
  article {
    padding: 1rem;
  }
}

// display: grid;
// grid-template-columns: 1fr 1fr;
// grid-gap: 3rem;
// align-items: center;
