.bullet {
  margin-left: 15px;
  list-style: square outside url("../images/pin.svg");
}

.back {
  background-image: url("../images/back-about.svg");
  background-repeat: repeat;
  background-size: contain;
}
.exp {
  background-image: url("../images/back-about.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.aboutPara {
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  margin: auto;
  line-height: 1.8rem;
  padding: 2rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  animation: animation 2s ease-out;
}
.aboutPara p {
  line-height: 1.5;
}
.aboutPara h1,
.aboutPara h2 {
  margin: 2rem;
  line-height: 1.5;
}
@keyframes animation {
  0% {
    opacity: 0;
    left: 200px;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@media (min-width: 550px) {
  .back {
    background-repeat: no-repeat;
    background-position: center;
  }
  .aboutPara {
    width: 70vw;
    max-width: 900px;
    font-size: 1.5rem;
  }
}
