.background {
  background-color: #ebf5f6;
  margin: 1rem 0 1rem;
  padding-bottom: 1rem;
}

.background:hover {
  background-color: #dbf5f6;
}

@media (min-width: 550px) {
  .background {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
